*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin: 5px;
    text-align: center;
}

form {
    margin-left: 20px;
}
input {
    margin-bottom: 15px;
}